body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #fdfdfd;
  color: #0E1E22;
  /*overflow-y: scroll;*/
  align-content: center;
  align-items: center;
}

.main-c {
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  margin: 10% 0;
  align-content: space-between;
  align-items: center;
}

.btn-link {
  color: #fdfdfd;
  font-weight: bold;
  text-decoration: none;
}

.btn-link:active, .btn-link:link, .btn-link:visited {
  color: #fdfdfd;
  font-weight: bold;
  text-decoration: none;
}

.primary-btn {
  min-width: 200px;
  height: 50px;
  background-color: #0E4B59;
  border-color: #0E4B59;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-weight: bold;
  margin: 20px 10px;
}

.app-admin {
  /*height: 900px;*/
  width: 100%;
  /*overflow-y: scroll;*/
  padding: 20px 10px 10px;
}


.app-cust {
  height: 900px;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 1fr 6fr 6fr 1fr;
  grid-template-rows: 1fr 6fr 1fr;
}


.banner {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  text-transform: capitalize;
  background: #fafafa;
  color: #0E4B59;  /* #d3d3d3;*/
  border-bottom: solid 3px #a6ccd8;  
}

.admin-menu {
  visibility: hidden;
  background: #fafafa;
  height: 900px;
  width: 80%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding: 15px 10px;
  position: fixed;
  transition-timing-function: ease-in-out;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  overflow-x: hidden;
  flex-wrap: nowrap;
  border-right: gray;
}

.menu-items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.5rem;
  min-width: 300px;
  overflow: hidden;
}

.menu-item {
  margin: 15px 5px;
}

.menu-heading {
  color: 0E4B59;
  font-weight: bold;
  font-size: 2rem;
}

.menu-hr {
  border: solid 1.5px #a6ccd8;
  background-color: #a6ccd8;
  margin: 5px 0;
  width: 100%;
  margin-left: -5px;;
}

.appbar-icon {
  margin: 0 10px
}

.appbar-icon .fa-envelope {
  margin-right: 20px;
}

.appbar-title {

}

.header {
  grid-row: 2;
  grid-column: 2 / 4;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

.image {
  max-width:100%;
  max-height: 65%;
  display: flex;
  align-self: center;
  border-radius: 50%;
  border: 2px #09478B solid;
  margin: 1rem 0 1.5rem 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}


.container {
  width: auto;
}


.profile {
  flex-grow: 2;
  color: 0E4B59;
}

.heading {
  text-align: center;
  font-weight: bold;
  margin: .7rem 0;
}

#profileHeading {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
}

.text {
  color: grey;
  font-size: 0.8rem;
  letter-spacing: .01rem;
  word-spacing: 0.09rem;
  line-height: 1.2rem;
  text-align: center;
  font-family: 'Open-sans', sans-serif;
}

.collapsible {
  background-color: rgb(244, 249, 253);
  width: auto;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid #555f97 0.5px;
  border-bottom: 1px solid #555f97;
}

.collapsible-title-area {
  margin-left: 3rem;
  align-items: center;
  display: flex;
}

.bullet {
  background-color: #09478B;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  align-self: center;
  margin: 0 1.5rem 0 0;
}

.content {
  grid-row: 3;
  grid-column: 1 / 5;
}

.sect-title {
  color: #09478B;
  font-size: 1.2rem;
  font-weight: normal;
  font-family: 'Poppins', sans-serif;
}

.triangle {
  border: solid #09478B;
  border-width: 0 4px 4px 0;
  padding: 7px;
  transform: rotate(-45deg);
  margin-right: 3rem;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.arrow-down {
  top: 1rem;
  transform: rotate(45deg) !important;
  -webkit-transform: rotate(45deg) !important;
  -moz-transform: rotate(45deg) !important;
  -ms-transform: rotate(45deg) !important;
  -o-transform: rotate(45deg) !important;
}

.collapsed {
  padding: 1rem;
  color: #153082;
  font-family: 'Open Sans', sans-serif;
  padding: 1rem 7%;
  box-shadow: inset 0px 3px 0px 0px #09478B25;
}

.collapsed-h1 {
  font-weight: bold;
  margin-bottom: 0.2rem;
  font-family: 'Noto Sans KR', sans-serif;
}

.collapsed-text {
  font-size: 0.8rem;
  font-family: 'Open Sans', sans-serif;
}

.collapsed-subs {
  font-style: italic;
  font-weight: bold;
  font-size: 0.8rem;
  font-family: 'Noto Sans KR', sans-serif;
  display: flex;
  justify-content: space-between;
  margin: 0 30% 0.7rem 0;
}

.experience {
  margin-bottom: 2rem;
}

.skills .collapsed-subs {
  justify-content: space-between;
  font-weight: normal;
  font-style: normal;
  font-size: 0.8rem;
  padding-top: 0.7rem;
  line-height: 2rem;
  margin-left: 10px;
}

#methodologies {
  flex-direction: column;
}

.collapsed-column-2 {
  margin-bottom: 1rem;
}

.collapsed .education .collapsed-subs,
.collapsed .co-curricular .collapsed-subs {
  font-size: 0.9rem;
  margin-right: 0;
  font-style: normal;
  margin-bottom: 0.2rem;
}

.collapsed .education .collapsed-text,
.collapsed .co-curricular .collapsed-text {
  margin-bottom: 1rem;
}

.no-display {
  display: none;
}

#skillsList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 12rem;
}

.collapsed-list-item {
  width: 17rem;
}

#admin-order-page, #admin-pickup-times {
  width: 95%;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sort-toggle {
  width: 60%;
  height: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: center;
  align-content: center;
  margin: 0 0 15px;
  color: #848484;
}

.sort-options {
  display: flex;
  width: 50%;
  align-self: right;
  justify-content: space-between;
  align-content: center;
  color: #d3d3d3;
  font-weight: normal;
}

.selected-option {
  color: #0099F2;
  font-weight: 400;
}

.filter-btn {
  border: solid 1px #0099F2;
  color: #0099F2;
  background-color: #fdfdfd;
  width: 45%;
  height: 30px;
  margin: 10px 0 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.filter-btn-apply {
  color: #FDFDFD !important;
  background-color: #0099F2 !important;
  font-weight: bold;
}

.order-filter-button {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 3;
}

.fitler-collapsible {
  display: none;
  width: 100%;
  padding: 30px 5% 10px;
  /*display: flex;*/
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid lightblue;
  border-bottom: 1px solid lightblue;
  position: relative;
  top: -35px;
}

.filter-options-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px; 
  display: flex;
  width: 90%;
  align-self: center;
  justify-content: space-between;
  color: #d3d3d3;
  font-weight: normal;
  flex-wrap: wrap;
  height: 1rem;
}

.filter-heading {
  color: purple;
  width: 100%;
  text-align: center;
  align-items: center;
}

.options-vr {
  vertical-align: middle;
  width: 1px;
  height: 100%;
  background-color: #d3d3d3;
  border: #d3d3d3 solid 1px;
  margin: 0;
}

.orders {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-around;
  height: 600px;
  width: 100%;
  /*overflow-y: scroll;*/
  padding: 0 10px;
}

.order-tile {
  width: 100%;
  background-color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.orders::-webkit-scrollbar, body::-webkit-scrollbar {
  width: .3em;
}

.orders::-webkit-scrollbar-button {

}

.orders::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.orders::-webkit-scrollbar-track, body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.orders::-webkit-scrollbar-track-piece {

}

.orders::-webkit-scrollbar-corner {

}

.orders::-webkit-resizer {

}

.order-tile {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: 1px solid #d3d3d350;
  box-shadow: 0 1px 1px 0 #d3d3d330;
  display: flex;
  flex-direction: row;
}

.order-accent-box {
  width: 5%;
  height: 100%;
  background-color: blue;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.order-details {
  color: black;
  padding: 15px;
  width: 100%;
}

.order-type-icon {
  /*width: 30px;
  height: 20px;*/
  margin: 0 10px 0 0;
}

.order-id {
  font-weight: 900;
}

.order-tile-status {
  font-weight: bold;
}

.order-status-oval {
  border: 1px solid green;
  background-color: green;
  font-weight: bold;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  color: #fdfdfd;
  padding: 2px 7px;
  margin: 5px 3px;
  font-size: .7rem;
  align-items: center;
}

.order-tile-numitems {
  font-weight: bold;
}

.order-tile-pickup {

}

.order-tile-address {

}

.order-tile-cost {

}

.pending-colour {

}

.processed-colour {

}

.completed-colour {

}

.delivery-accent {

}

.pickup-accent {

}

.order-tile-row1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.order-tile-time {
  color: lightgray;
}

.page-heading {
  width: 100%;
  height: 1.5rem;
  font-size: 1.1rem;
  vertical-align: middle;
  font-weight: bold;
  color: #0E4B59;
  text-align: center;
  margin: 20px 10px;
}

.column-label-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: .8rem;
  font-weight: bold;
  height: 1.1rem;
  text-align: center;
}

 #availability-label {
   flex: 20%;
 }

 #ptime-label {
   flex: 70%;
 }

 .ptime-fcheck {
    display: flex;
    width: 100%; 
    margin: 20px 0;
    border-bottom: 1px solid #fdfdfd;
    padding-bottom: 20px;
 }

 .ptime-check-input {
   display: flex;
   flex: 20%;
   align-items: center;
   justify-content: center;
 }

 .ptime-check-label {
  display: flex;
  flex: 70%;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: bold;
}

input[type='checkbox'] {
   height: 20px;
   width: 20px;
   border-color: lightgray;
   background-color: #fdfdfd;
   border-radius: 2px;
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   -ms-border-radius: 2px;
   -o-border-radius: 2px;
}

input[type='checkbox']::after {
  border-color: blue;
  background-color: blue;
}












@media only screen and (min-width: 700px) {
  .collapsed-subs {
    margin: 0 50% 0.7rem 0;
  }
}

@media only screen and (min-width: 800px) {
  /*.resume {
  display: grid;
  grid-template-columns: 2fr 6fr 6fr 2fr;
  grid-template-rows: 1fr 6fr 3.2rem;
  }*/

  .resume {
    margin: 0 20%;
  }

  .collapsible {
    border: none;
    border-bottom: 1px solid #555f97;
  }

  .collapsed {
    border-bottom: 1px solid #09478B;
  }

  .banner {
    margin: 0 -40%;
  }
}

@media only screen and (min-width: 981px) {

  .collapsible {
    font-weight: bold;
  }
}
